---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/ingests
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth <ACTUAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ingests":[{"_id":1,"url_template":"rtmp://live-fra02.twitch.tv/app/{stream_key}","availability":1.0,"name":"Europe:
        Germany, Frankfurt","default":false},{"_id":2,"url_template":"rtmp://live-dfw.twitch.tv/app/{stream_key}","availability":1.0,"name":"US
        Central: Dallas, TX","default":false},{"_id":3,"url_template":"rtmp://live-bkk.twitch.tv/app/{stream_key}","availability":1.0,"name":"Asia:
        Thailand: Bangkok","default":false},{"_id":4,"url_template":"rtmp://live-ord02.twitch.tv/app/{stream_key}","availability":1.0,"name":"US
        East: Chicago","default":false},{"_id":5,"url_template":"rtmp://live-sin.twitch.tv/app/{stream_key}","availability":1.0,"name":"Asia:
        Singapore","default":false},{"_id":6,"url_template":"rtmp://live-eze.twitch.tv/app/{stream_key}","availability":1.0,"name":"DEPRECATED:
        South America: Argentina","default":false},{"_id":7,"url_template":"rtmp://live-qro.twitch.tv/app/{stream_key}","availability":1.0,"name":"NA:
        Queretaro, Mexico","default":false},{"_id":8,"url_template":"rtmp://live-hel.twitch.tv/app/{stream_key}","availability":1.0,"name":"Europe:
        Finland, Helsinki","default":false},{"_id":9,"url_template":"rtmp://live-osl.twitch.tv/app/{stream_key}","availability":1.0,"name":"Europe:
        Norway, Oslo","default":false},{"_id":10,"url_template":"rtmp://live-sjc.twitch.tv/app/{stream_key}","availability":1.0,"name":"US
        West: San Jose,CA","default":false},{"_id":11,"url_template":"rtmp://live-slc.twitch.tv/app/{stream_key}","availability":1.0,"name":"Salt
        Lake City, UT","default":false},{"_id":12,"url_template":"rtmp://live-lim.twitch.tv/app/{stream_key}","availability":1.0,"name":"DEPRECATED
        South America: Lima, Peru","default":false},{"_id":13,"url_template":"rtmp://live-arn.twitch.tv/app/{stream_key}","availability":1.0,"name":"Europe:
        Sweden, Stockholm","default":false},{"_id":14,"url_template":"rtmp://live-sea.twitch.tv/app/{stream_key}","availability":1.0,"name":"Seattle,
        WA","default":false},{"_id":15,"url_template":"rtmp://live-ymq.twitch.tv/app/{stream_key}","availability":1.0,"name":"NA:
        Quebec, Canada","default":false},{"_id":16,"url_template":"rtmp://live-tpe01.twitch.tv/app/{stream_key}","availability":1.0,"name":"Asia:
        Taipei, Taiwan (1)","default":false},{"_id":17,"url_template":"rtmp://live-mia.twitch.tv/app/{stream_key}","availability":1.0,"name":"US
        East: Miami, FL","default":false},{"_id":18,"url_template":"rtmp://live-sao.twitch.tv/app/{stream_key}","availability":1.0,"name":"South
        America: Sao Paulo, Brazil","default":false},{"_id":19,"url_template":"rtmp://live-lhr03.twitch.tv/app/{stream_key}","availability":1.0,"name":"Europe:
        UK, London","default":false},{"_id":20,"url_template":"rtmp://live-lax.twitch.tv/app/{stream_key}","availability":1.0,"name":"US
        West: Los Angeles, CA","default":false},{"_id":21,"url_template":"rtmp://live-hkg.twitch.tv/app/{stream_key}","availability":1.0,"name":"Asia:
        Hong Kong","default":false},{"_id":22,"url_template":"rtmp:/[...]
