---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth <ACTUAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token":{"valid":true,"authorization":{"scopes":["bits:read","channel_commercial","channel_editor","channel_read","channel_stream","user:read:email","user_blocks_edit","user_read"],"created_at":"2020-04-05T10:30:30Z","updated_at":"2020-04-05T10:30:30Z"},"user_name":"streamassistantbot","user_id":"277558749","client_id":"<CLIENT_ID>","expires_in":4654}}'
  recorded_at: Sun, 05 Apr 2020 12:57:18 GMT
recorded_with: VCR 5.1.0
