---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/games/top
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth <ACTUAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"_total":2364,"top":[{"game":{"name":"League of Legends","_id":21779,"giantbomb_id":24024,"box":{"large":"https://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-272x380.jpg","medium":"https://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-136x190.jpg","small":"https://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-52x72.jpg","template":"https://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-{width}x{height}.jpg"},"logo":{"large":"https://static-cdn.jtvnw.net/ttv-logoart/League%20of%20Legends-240x144.jpg","medium":"https://static-cdn.jtvnw.net/ttv-logoart/League%20of%20Legends-120x72.jpg","small":"https://static-cdn.jtvnw.net/ttv-logoart/League%20of%20Legends-60x36.jpg","template":"https://static-cdn.jtvnw.net/ttv-logoart/League%20of%20Legends-{width}x{height}.jpg"},"localized_name":"League
        of Legends","locale":"en-us"},"viewers":279985,"channels":4194},{"game":{"name":"Just
        Chatting","_id":509658,"giantbomb_id":0,"box":{"large":"https://static-cdn.jtvnw.net/ttv-boxart/Just%20Chatting-272x380.jpg","medium":"https://static-cdn.jtvnw.net/ttv-boxart/Just%20Chatting-136x190.jpg","small":"https://static-cdn.jtvnw.net/ttv-boxart/Just%20Chatting-52x72.jpg","template":"https://static-cdn.jtvnw.net/ttv-boxart/Just%20Chatting-{width}x{height}.jpg"},"logo":{"large":"https://static-cdn.jtvnw.net/ttv-logoart/Just%20Chatting-240x144.jpg","mediu[...]
