---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users/44322889
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth <ACTUAL_ACCESS_TOKEN>
  response:
    status:
      code: 503
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"display_name":"dallas","_id":"44322889","name":"dallas","type":"user","bio":"Friendly,
        interactive, and very bald.","created_at":"2013-06-03T19:12:02.580593Z","updated_at":"2021-06-22T01:25:42.652624Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/4d1f36cbf1f0072d-profile_image-300x300.png"}'
  recorded_at: Tue, 22 Jun 2021 08:22:16 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users/44322889
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth <ACTUAL_ACCESS_TOKEN>
  response:
    status:
      code: 503
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"display_name":"dallas","_id":"44322889","name":"dallas","type":"user","bio":"Friendly,
        interactive, and very bald.","created_at":"2013-06-03T19:12:02.580593Z","updated_at":"2021-06-22T01:25:42.652624Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/4d1f36cbf1f0072d-profile_image-300x300.png"}'
  recorded_at: Tue, 22 Jun 2021 08:22:19 GMT
recorded_with: VCR 6.0.0
