---
http_interactions:
- request:
    method: put
    uri: https://api.twitch.tv/kraken/channels/277558749
    body:
      encoding: UTF-8
      string: '{"channel":{"status":"Changing API","game":"Diablo III"}}'
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth 9y7bf00r4fof71czggal1e2wlo50q3
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"invalid oauth token"}'
  recorded_at: Sun, 05 Apr 2020 12:57:11 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5e89d5a7-296373034c4aafc48ba5139b
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","expires_in":15533,"refresh_token":"<REFRESH_TOKEN>","scope":["bits:read","channel_commercial","channel_editor","channel_read","channel_stream","user:read:email","user_blocks_edit","user_read"],"token_type":"bearer"}

        '
  recorded_at: Sun, 05 Apr 2020 12:57:12 GMT
- request:
    method: put
    uri: https://api.twitch.tv/kraken/channels/277558749
    body:
      encoding: UTF-8
      string: '{"channel":{"status":"Changing API","game":"Diablo III"}}'
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth d9widl8jgh5en07dtrhjyz3o954cfe
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"mature":false,"status":"Changing API","broadcaster_language":"en","broadcaster_software":"","display_name":"StreamAssistantBot","game":"Diablo
        III","language":"en","_id":"277558749","name":"streamassistantbot","created_at":"2018-11-23T20:32:14Z","updated_at":"2020-04-05T09:21:53Z","partner":false,"logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/cbde4ea7-7186-4128-866d-bba7c5c479c3-profile_image-300x300.png","video_banner":null,"profile_banner":null,"profile_banner_background_color":null,"url":"https://www.twitch.tv/streamassistantbot","views":0,"followers":0,"broadcaster_type":"","description":"","private_video":false,"privacy_options_enabled":false}'
  recorded_at: Sun, 05 Apr 2020 12:57:12 GMT
recorded_with: VCR 5.1.0
