---
http_interactions:
- request:
    method: put
    uri: https://api.twitch.tv/kraken/channels/277558749
    body:
      encoding: UTF-8
      string: '{"channel":{"status":"Changing API","game":"Diablo III"}}'
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth 9y7bf00r4fof71czggal1e2wlo50q3
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"invalid oauth token"}'
  recorded_at: Sun, 05 Apr 2020 12:57:12 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=refresh_token&refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5e89d5a9-583dc9dae63ffe5864ef3808
    body:
      encoding: UTF-8
      string: '{"status":400,"message":"missing refresh token"}

        '
  recorded_at: Sun, 05 Apr 2020 12:57:13 GMT
recorded_with: VCR 5.1.0
