---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users/44322889/follows/channels/129454141
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth <ACTUAL_ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Not Found","status":404,"message":"Follow not found"}'
  recorded_at: Sun, 05 Apr 2020 12:57:18 GMT
recorded_with: VCR 5.1.0
