---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/videos/followed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth 9y7bf00r4fof71czggal1e2wlo50q3
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"invalid oauth token"}'
  recorded_at: Sun, 05 Apr 2020 12:57:22 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5e89d5b3-1cdf23006fd5f140caa4f140
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","expires_in":13050,"refresh_token":"<REFRESH_TOKEN>","scope":["bits:read","channel_commercial","channel_editor","channel_read","channel_stream","user:read:email","user_blocks_edit","user_read"],"token_type":"bearer"}

        '
  recorded_at: Sun, 05 Apr 2020 12:57:23 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/videos/followed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth i2oe2xis8euvvdwt837pavsvoyzd8p
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"videos":[{"title":"[24/7 LIVE] the grind for loot - Safer @ Home
        Support Group","description":null,"description_html":null,"broadcast_id":37392938416,"broadcast_type":"archive","status":"recording","tag_list":"","views":5,"url":"https://www.twitch.tv/videos/583765344","language":"en","created_at":"2020-04-05T04:39:38Z","viewable":"public","viewable_at":null,"published_at":"2020-04-05T04:39:38Z","delete_at":"2020-06-04T04:39:38Z","_id":"v583765344","recorded_at":"2020-04-05T04:39:38Z","game":"Tom
        Clancy''s The Division 2","length":29864,"preview":{"small":"https://vod-secure.twitch.tv/_404/404_processing_80x45.png","medium":"https://vod-secure.twitch.tv/_404/404_processing_320x180.png","large":"https://vod-secure.twitch.tv/_404/404_processing_640x360.png","template":"https://vod-secure.twitch.tv/_404/404_processing_{width}x{height}.png"},"animated_preview_url":"https://d2nvs31859zcd8.cloudfront.net/1f32ae531988fbce59a1_streamerhouse_37392938416_1405865485/storyboards/583765344-strip-0.jpg","thumbnails":{"small":[],"medium":[],"large":[],"template":[]},"fps":{"160p30":30,"360p30":30,"480p30":30,"720p30":30,"720p60":60,"audio_only":0,"chunked":61},"seek_previews_url":"https://d2nvs31859zcd8.cloudfront.net/1f32ae531988fbce59a1_streamerhouse_37392938416_1405865485/storyboards/583765344-info.json","resolutions":{"160p30":"284x160","360p30":"640x360","480p30":"852x480","720p30":"1280x720","720p60":"1280x720","chunked":"1920x1080"},"restriction":"","channel":{"mature":false,"status":"[24/7
        LIVE] the grind for loot - Safer @ Home Support Group","broadcaster_language":"en","broadcaster_software":"unknown_rtmp","display_name":"StreamerHouse","game":"Tom
        Clancy''s The Division 2","language":"en","_id":44741426,"name":"streamerhouse","created_at":"2013-06-14T15:50:41.377211Z","updated_at":"2020-04-05T12:30:41.088169Z","partner":true,"logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/1e6654c9-aa39-4cf2-a745-d59b779862d8-profile_image-300x300.png","video_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/streamerhouse-channel_offline_image-643a63b6ee788b02-1920x1080.jpeg","profile_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/74d167c7-0a68-466d-82d4-9e4a0e1dcff1-profile_banner-480.png","profile_banner_background_color":"#ffffff","url":"https://www.twitch.tv/streamerhouse","views":57282456,"followers":628241,"broadcaster_type":"partner","description":"Twitch''s
        Only Live 24/7 Gaming House!  http://Facebook.com/StreamerHouse http://Youtube.com/StreamerHouse","private_video":false,"privacy_options_enabled":false},"increment_view_count_url":"https://countess.twitch.tv/ping.gif?u=%7B%22id%22%3A%22583765344%22%2C%22type%22%3A%22vod%22%7D"},{"title":"[24/7
        LIVE] Safer @ Home Support Group","description":null,"description_html":null,"broadcast_id":37365816960,"broadcast_type":"archive","status":"recorded","tag_list":"","views":83,"url":"https://www.twitch.tv/videos/582025756","language":"en","created_at":"2020-04-03T04:39:20Z","viewable":"public","viewable_at":null,"published_at":"2020-04-03T04:39:20Z","delete_at":"2020-06-02T04:39:20Z","_id":"v582025756","recorded_at":"2020-04-03T04:39:19Z","game":"Tom
        Clancy''s The Division 2","length":172803,"preview":{"small":"https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/8f0750b317ed55ac8919_streamerhouse_37365816960_1404167689/thumb/thumb0-80x45.jpg","medium":"https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/8f0750b317ed55ac8919_streamerhouse_37365816960_1404167689/thumb/thumb0-320x180.jpg","large":"https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/8f0750b317ed55ac8919_streamerhouse_37365816960_1404167689/thumb/thumb0-640x360.jpg","template":"https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/8f0750b317ed55ac8919_streamerhouse_37365816960_1404167689/thumb/thumb0-{width}x{height}.jpg"},"animated_preview_url":"https://d2nvs31859zcd8.cloudfront.net/8f0750b317ed55ac8919_streamerhouse_37365816960_1404167689/storyboards/582025756-strip-0.jpg","thumbnails":{"small":[{"type":"generated","url":"https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/8f0750b317ed55ac8919_streamerhouse_37365816960_1404167689/thumb/thumb0-80x45.jpg"},{"type":"generated","url":"https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/8f0750b317ed55ac8919_streamerhouse_37365816960_1404167689/thumb/thumb1-80x45.jpg"},{"type":"generated","url":"https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/8f0750b317ed55ac8919_streamerhouse_37365816960_1404167689/thumb/thumb2-80x45.jpg"},{"type":"generated","u[...]
