---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth 9y7bf00r4fof71czggal1e2wlo50q3
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"invalid oauth token"}'
  recorded_at: Sun, 05 Apr 2020 12:57:03 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5e89d5a0-a4eedaa2f687ce72a526ba2a
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","expires_in":14179,"refresh_token":"<REFRESH_TOKEN>","scope":["bits:read","channel_commercial","channel_editor","channel_read","channel_stream","user:read:email","user_blocks_edit","user_read"],"token_type":"bearer"}

        '
  recorded_at: Sun, 05 Apr 2020 12:57:04 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth 4ohcpepmtz4c7lgo3f24ikvp3lddlu
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"display_name":"StreamAssistantBot","_id":"277558749","name":"streamassistantbot","type":"user","bio":null,"created_at":"2018-11-23T20:32:14.972752Z","updated_at":"2020-04-05T09:21:53.30456Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/cbde4ea7-7186-4128-866d-bba7c5c479c3-profile_image-300x300.png","email":"stream.assistant.bot@outlook.com","email_verified":true,"partnered":false,"twitter_connected":false,"notifications":{"push":true,"email":true}}'
  recorded_at: Sun, 05 Apr 2020 12:57:05 GMT
recorded_with: VCR 5.1.0
