---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams/followed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth 9y7bf00r4fof71czggal1e2wlo50q3
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"invalid oauth token"}'
  recorded_at: Sun, 05 Apr 2020 12:57:19 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5e89d5b0-9b1c38e602d049e4140aa35a
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","expires_in":14119,"refresh_token":"<REFRESH_TOKEN>","scope":["bits:read","channel_commercial","channel_editor","channel_read","channel_stream","user:read:email","user_blocks_edit","user_read"],"token_type":"bearer"}

        '
  recorded_at: Sun, 05 Apr 2020 12:57:20 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams/followed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth dycgk946fyxyp9rg1yv7wj87uh76ev
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"streams":[{"_id":37392938416,"game":"Tom Clancy''s The Division 2","broadcast_platform":"live","community_id":"","community_ids":[],"viewers":654,"video_height":1080,"average_fps":60,"delay":0,"created_at":"2020-04-05T04:39:30Z","is_playlist":false,"stream_type":"live","preview":{"small":"https://static-cdn.jtvnw.net/previews-ttv/live_user_streamerhouse-80x45.jpg","medium":"https://static-cdn.jtvnw.net/previews-ttv/live_user_streamerhouse-320x180.jpg","large":"https://static-cdn.jtvnw.net/previews-ttv/live_user_streamerhouse-640x360.jpg","template":"https://static-cdn.jtvnw.net/previews-ttv/live_user_streamerhouse-{width}x{height}.jpg"},"channel":{"mature":false,"status":"[24/7
        LIVE] the grind for loot - Safer @ Home Support Group","broadcaster_language":"en","broadcaster_software":"","display_name":"StreamerHouse","game":"Tom
        Clancy''s The Division 2","language":"en","_id":44741426,"name":"streamerhouse","created_at":"2013-06-14T15:50:41.377211Z","updated_at":"2020-04-05T12:30:41.088169Z","partner":true,"logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/1e6654c9-aa39-4cf2-a745-d59b779862d8-profile_image-300x300.png","video_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/streamerhouse-channel_offline_image-643a63b6ee788b02-1920x1080.jpeg","profile_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/74d167c7-0a68-466d-82d4-9e4a0e1dcff1-profile_banner-480.png","profile_banner_background_color":"#ffffff","url":"https://www.twitch.tv/streamerhouse","views":57282456,"followers":628241,"broadcaster_type":"","description":"Twitch''s
        Only Live 24/7 Gaming House!  http://Facebook.com/StreamerHouse http://Youtube.com/StreamerHouse","private_video":false,"privacy_options_enabled":false}}]}'
  recorded_at: Sun, 05 Apr 2020 12:57:20 GMT
recorded_with: VCR 5.1.0
